spring:
  application:
    name: Teste-ToDo-Docker

  datasource:
    url: jdbc:postgresql://localhost:5432/ToDo
    username: postgres
    password: 123456
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: 8081